<html>
<head>
</head>
<body>
<form action="/otvori">
<input type="submit" value="Otvori">  
</form>
<form action="/zatvori">
<input type="submit" value="Zatvori">  
</form>
<form action="/otvorig">
<input type="submit" value="Otvori Garazu">  
</form>
<form action="/zatvorig">
<input type="submit" value="Zatvori Garazu">  
</form>
<form action="/led1on">
<input type="submit" value="Garaza on">  
</form>
<form action="/led1off">
<input type="submit" value="Garaza off">  
</form>
<form action="/led2on">
<input type="submit" value="Sprat on">  
</form>
<form action="/led2off">
<input type="submit" value="Sprat off">  
</form>
<form action="/led3on">
<input type="submit" value="Ispred on">  
</form>
<form action="/led3off">
<input type="submit" value="Ispred off">  
</form>
<form action="/led4on">
<input type="submit" value="Dnevna on">  
</form>
<form action="/led4off">
<input type="submit" value="Dnevna off">  
</form>
</body>
</html>
