<html>
<head>
	<title>Rampa</title>
	<script src="static/jquery.js"></script>
</head>
<body>
	<h1>USER LOGIN</h1>
	<label>Username: </label><input type="text" id="user"><br>
	<label>Password: </label><input type="password" id="pass"><br>
	<input type="submit" value="Login" id="userLogin"><br><br><br>


	<h1>CHANGE USERNAME</h1>
	<label>New Username: </label><input type="text" id="newUser"><br>
	<input type="submit" value="Change" id="changeUser"> <br><br><br>
	

	<h1>CHANGE PASSWORD</h1>
	<label>New password: </label><input type="password" id="newPass"><br>
	<input type="submit" value="Chnage" id="changePass"><br><br><br>

	<h1>INSERT PHONE NUMBER</h1>
	<label>New phone: </label><input type="text" id="newPhone"><br>
	<input type="submit" value="Insert" id="insertPhone"><br><br><br>

	<h1>SHOW PHONE NUMBER</h1>
	<input type="submit" value="Show" id="showPhone">

	<h1>REMOVE PHONE NUMBER</h1>
	<label>Current phone number: </label><input type="text" id="phone"><br>
	<input type="submit" value="Remove" id="removePhone">
	<script src="static/login.js"></script>
	<script src="static/userProfileEdit.js"></script>
</body>
</html>
